<html lang="en">
<head>
<<<<<<< Updated upstream
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css" />
    <title>Chad's Portfolio!</title>
</head>

<body>
    <header>
        <h1>Welcome to My Portfolio!</h1>
        <nav>
          <ul>
            <button class="nav-buttons">
              About Me
            <button class="nav-buttons">
              Projects
            <button class="nav-buttons">
              Contact Me     
          </ul>
        </nav>
      </header>
      

  <main>
    <section class="About-Me">
    <header> About Me </header>
      <div class="Title.Logo.front"> 
        <h1> </h1></ha>>Coming Soon</p>
    <img src="./assets/images/Coming Soon.JPG"
        ></section>
      </main>

      <main>
        <section class="card">
          <header>Project 1</header>
          <img src="./assets/images/02-hero-bg.jpg" alt="camera" />
          <p>TBD</p>
        </section>
        <section class="card">
          <header>Project 2</header>
          <img src="./assets/images/02-portfolio-1.jpg" alt="tablet" />
          <p>TBD and better</p>
        </section>
        <section class="card">
          <header>Project 3</header>
          <img src="./assets/images/02-portfolio-2.jpg" alt="toilet paper" />
          <p>TBD</p>
        </section>
        <section class="card">
          <header>Project 4</header>
          <img src="./assets/images/02-portfolio-3.jpg" alt="wooden spoons" />
          <p>TBD</p>
        </section><section class="card">
          <header>Project 5</header>
          <img src="./assets/images/02-hero-bg.jpg" alt="camera" />
          <p>TBD</p>
        </section>
        <section class="card">
          <header>Project 6</header>
          <img src="./assets/images/02-portfolio-1.jpg" alt="tablet" />
          <p>TBD and better</p>
        </section>
        <section class="card">
          <header>Project 7</header>
          <img src="./assets/images/02-portfolio-2.jpg" alt="toilet paper" />
          <p>TBD</p>
        </section>
        <section class="card">
          <header>Project 8</header>
          <img src="./assets/images/02-portfolio-3.jpg" alt="wooden spoons" />
          <p>TBD</p>
        </section>
      </main>

  <main>
    <section class="Contact-Me">
      <header> Contact </header>
      <img src="./assets/images/Under Construction.png"
    ></section>
  </main>
</body>



  {{!-- <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">💸</span>
        <a href="/">Fund My Project!</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
=======
  <title>Only Fanz</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link href="/css/style.css" rel="stylesheet" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <!-- {{!-- NAV BAR  --}} -->
  <div id="total-header">
    <header class="site-header">
      <!-- {{!-- This is the Top Nav Banner --}} -->
      <div class="header-banner">
        <div class="header-banner-container">
          <ul class="header-brand-nav">
            <li id="OnlyPanz"> Only Panz</li>
            <li id="OnlyHamz"> Only Hamz</li>
            <li id="OnlyTramz"> Only Tramz</li>
          </ul>
          <div class="header-country-selector"></div>
          <button class="transparent-button-country-selector" data-testid="button" type="button">
            <img
              src="/Assets/Images/Icons-Land-Vista-Flags-English-Language-Flag-1.256.png"
              alt="english lagnuage selector" class="language-selector-image">
            </img>
          </button>
          <div class="promo-banner"></div>
          <div id="Top-promo-banner"> Premium Subscription </div>
          <svg class="arrow-icon" aria-hidden="true" focusable="false">
            <use href="/Assets/Images/arrow image.png"></use>
          </svg>
        </div>
      </div>
      <!-- {{!-- This is the Main Banner with the Search Bar, Logo, profile, Cart --}} -->
      <div class="header-core">
        <div class="core-left">
          <div class="site-search">
            <div id="site-search" class="site-search_FG">
              <div class="search-overlay-visible"></div>
              <form class="search-input">
                <label id="site-search-label" class="search-only"></label>
                <input class="form-control-lq" id="site-search-input" aria-label="Search" aria-autocomplete="list"
                  aria-controls="site-search-dropdown" autocapitalize="none" autocomplete="off" maxlength="120"
                  name="site-search-input" value="" placeholder="Search Fanz Here" role="combobox" title="Search">
                <div class="site-search-button"> </div>
              </form>
              <div id="site-search-caption"></div>
            </div>
          </div>
        </div>
        <div class="header-logo-container">
<<<<<<< HEAD
          <a class="Only-Fanz-logo">
            <img id="Logo" src="/Assets/Images/Logo.png" alt="Only Fanz Logo" title="Only Fanz Logo"
              width="800" height="100">
=======
          <a class="Only-Fanz-logo"  href="#">
            <img id="Logo" src="/Assets/Images/Logo.png" alt="Only Fanz Logo" title="Only Fanz Logo">
>>>>>>> parent of 98848f7 (Merge branch 'main' into Rollies-branch)
            <div class="core-right">
              <div id="header-profile" class="header-profile-container">
                <div class="account-profile-container">
                  <div class="header-account-link">
                    <a class="profile-account-link"> Profile </a>
                    <button class="profile-button" data-testid="button" type="button">
                      <img
                     src="/Assets/Images/profile-icon-rounded-squares-button-vector-4526754.jpg"
                     alt="english lagnuage selector" class="language-selector-image">
                     </img>
                     </button>
                    <div class="shopping-cart">
                      <a class="shopping-cart-link"> Shopping Cart</a>
                      <!-- ---FUTURE NOTE TO ADD DROPDOWN HERE -->
                      <button class="profile-button"
                       data-testid="button" type="button">
                       <img
                      src="/Assets/Images/Graphicloads-100-Flat-Cart.256.png"
                      alt="english lagnuage selector" class="language-selector-image">
                      </img>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="header-cart-container">
              </div>
            </div>
        </div>
      </div>
      <nav class="primary-nav-list">
        <a class="primary-nav-item" href="/fan/Desk Fanz" Desk Fanz>Desk Fanz</a>
        <a class="primary-nav-item" href="/fan/Tower Fanz">Tower Fanz</a>
        <a class="primary-nav-item" href="/fan/Window Fanz"> Window Fanz</a>
        <a class="primary-nav-item" href="/fan/Floor Fanz">Floor Fanz</a>
        <a class="primary-nav-item" href="/fan/Box Fanz">Box Fanz</a>
        <a class="primary-nav-item" href="/fan/Ceiling Fanz">Ceiling Fanz</a>
        <a class="primary-nav-item" href="/fan/Mounted Fanz">Mounted Fanz</a>
>>>>>>> Stashed changes
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}

</html>
