<main>
  <section class="About-Me">
    <header> About Me </header>
    <div class="Title.Logo.front">
      <h1> </h1>
      </ha>Coming Soon</p>
      <img src="./assets/images/Coming Soon.JPG">
  </section>
</main>
<main>
  <section class="card">
    <header>Project 1</header>
    <img src="./assets/images/02-hero-bg.jpg" alt="camera" />
    <p>TBD</p>
  </section>
  <section class="card">
    <header>Project 2</header>
    <img src="./assets/images/02-portfolio-1.jpg" alt="tablet" />
    <p>TBD and better</p>
  </section>
  <section class="card">
    <header>Project 3</header>
    <img src="./assets/images/02-portfolio-2.jpg" alt="toilet paper" />
    <p>TBD</p>
  </section>
  <section class="card">
    <header>Project 4</header>
    <img src="./assets/images/02-portfolio-3.jpg" alt="wooden spoons" />
    <p>TBD</p>
  </section>
  <section class="card">
    <header>Project 5</header>
    <img src="./assets/images/02-hero-bg.jpg" alt="camera" />
    <p>TBD</p>
  </section>
  <section class="card">
    <header>Project 6</header>
    <img src="./assets/images/02-portfolio-1.jpg" alt="tablet" />
    <p>TBD and better</p>
  </section>
  <section class="card">
    <header>Project 7</header>
    <img src="./assets/images/02-portfolio-2.jpg" alt="toilet paper" />
    <p>TBD</p>
  </section>
  <section class="card">
    <header>Project 8</header>
    <img src="./assets/images/02-portfolio-3.jpg" alt="wooden spoons" />
    <p>TBD</p>
  </section>
</main>
<main>
  <section class="Contact-Me">
    <header> Contact </header>
    <img src="./assets/images/Under Construction.png">
  </section>
</main>